@import "../../style/var.style";

.c-loading-root {
  width: 1.56rem;
  height: 1.56rem;
  position: relative;
  canvas {
    width: 100%;
    height: 100%;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flexLayout();
    >div{
      font-size: .3rem;
      opacity: 0;
    }
  }
}