@import "../../style/var.style";
$base_size: .16rem;
.c-toast-root {
    width: $base_size * 10;
    height: $base_size * 7;
    border-radius: $base_size * .5;
    padding: $base_size;
    @include flexLayout(column);
    .icon {
        padding-bottom: $base_size * .5;
        i {
            width: $base_size * 3;
            height: $base_size * 3;
        }
        .icon-loading {
            animation: loading linear 1s infinite;
            @keyframes loading {
                from {
                    transfrom: rotate(0deg)
                }
                to {
                    transform: rotate(-360deg)
                }
            }
        }
    }
    .text {
        width: 100%;
        height: .8rem;
        text-align: center;
        font-size: $base_size;
        overflow: hidden;
        // white-space: nowrap;
        text-overflow: ellipsis;
    }
    * {
        color: #fff;
    }
}

.c-toast-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flexLayout(column);
}