$MAIN_COLOR : #000;

/*文本颜色*/
$txtDefault : #333;
$txtInfo : #939393;
$txtMuted : #939393;
$txtHighlight : #ff8200;
$txtWarning : #f46200;
$txtLink : #507daf;

/*边线颜色*/
$border : #e5e5e5;

// container definition
$CONTAINER_CUSTOM_PADDING_LEFT : 2%;
$CONTAINER_CUSTOM_PADDING_RIGHT : $CONTAINER_CUSTOM_PADDING_LEFT;

//弹性flex
@mixin flexLayout($direction: row){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: $direction wrap;
}

//微博金融相关变量
$bank_primary_color: #ff8200;
$bank_border_color: #e6e6e6;
$bank_label_color: #939393;
$bank_text_color: #333;
$bank_base_size: .3rem;